parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$constraintTreeMap of method DigitalRevolution\\SymfonyValidationShorthand\\Constraint\\ConstraintCollectionBuilder\:\:createConstraintTree\(\) expects array\<int\|string, array\<DigitalRevolution\\SymfonyValidationShorthand\\Constraint\\ConstraintMapItem\>\|DigitalRevolution\\SymfonyValidationShorthand\\Constraint\\ConstraintMapItem\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Constraint/ConstraintCollectionBuilder.php

		-
			message: '#^Method DigitalRevolution\\SymfonyValidationShorthand\\Rule\\RuleParser\:\:parseParameters\(\) should return array\<string\> but returns list\<string\|null\>\.$#'
			identifier: return.type
			count: 1
			path: src/Rule/RuleParser.php
